.container{
    max-width: 370px;
    margin: auto;
    
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    border-radius: 0.5rem;
}

input[type=text]{
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 10px;
    width: 94%;
}

body{
    background-color: #e9e4e4;
}

h1{
    padding-top: 1rem;
    margin-left: 0.5rem;
}
h2{
    margin-left: 0.5rem;
}
h3{
    margin-left: 0.5rem;
}
